﻿@model BilimselYayin.Models.HomeModel
@{
    Layout = null;
}
@functions{
    public string Klas(string param, int sayac)
    {
        string result;
        switch (sayac)
        {
            case 1:
                result = param + " active";
                break;
            default:
                result = param;
                break;
        }
        return result;
    }
}
@{int sayac = 0; }

<!--SLİDER BAŞLANGIÇ-- >
< div id = "myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
    
    @foreach (var item in Model._Slider)
    {
        sayac = sayac + 1;
        <div class="@Klas("item",sayac)">
            @if (@item.ResimYolu == null)
            {
                <img src = "/Content/images/blt-banner1.jpg" alt = "Chania" >
                }
                else
                {
                <img src="@item.ResimYolu" alt="Chania">
                }
                <div class="carousel-caption">
                    <h3>@item.SliderTitle</h3>
                    <div style="background-color:yellow; color: green;">
                        <p> @item.SliderText </p ></div>

                </div>
            </div>
                
            }

        </div>

    <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
            </div>
                <!--   SLİDER BİTİŞ  -->
