﻿@model BilimselYayin.Models.Makale

@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <center>

        <h1>@Model.MAdi</h1>
        <span class="label label-primary">@Model.MakaleTuru.TurAdi</span>
        <h4>@Model.YayimTarihi.ToShortDateString()</h4>
        <hr />
    </center>

    <div class="container">
        <h1>@Html.DisplayFor(m => m.MAdi)</h1>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
@Html.Raw(Model.MIcerik)
                    @*<p>@Model.MIcerik</p>*@
                <br>
            </div>

        </div>
    </div>

</div>
<center>

    <p>
        @Html.ActionLink("Düzenle", "Duzenle", new { id = Model.MakaleID }) |
        @Html.ActionLink("Sil", "Sil", new { id = Model.MakaleID }) |
        @Html.ActionLink("Listeye Dön.", "Makale")

    </p>
</center>

<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="comment-form">
            <br />
            <br />
            <br />
            <h2>leave your comments</h2>
            <div class="comments_form">
                <form>
                    <div class="inp_name">
                        <input id="c_name" type="text" placeholder="Your Name" required />
                        <input type="text" placeholder="Your Name" required />
                    </div>
                    <textarea cols="30" rows="10" placeholder="Message"></textarea>
                    <input type="submit" value="Send Message" />
                </form>
            </div>
        </div>
    </div>
</div>



