﻿
@{
    ViewBag.Title = "iletisim";
}

<!-- ~~~=| Breadcumb Start |=~~~ -->
<div class="breadcumb_common_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="breadcum_c_left">
                    <p>İLETİŞİM</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="breadcum_c_right">
                    <ul>
                        <li><a href="index">ANASAYFA</a> /</li>
                        <li><a href="iletisim">İLETİŞİM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ~~~=| Breadcumb END |=~~~ -->
<!-- ~~~=| Map area START |=~~~ -->
<div class="contact_message_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="googleMapHas" style="width:100%;height:470px;"></div>
            </div>
        </div>
    </div>
</div>
<!-- ~~~=| Map area END |=~~~ -->
<!-- ~~~=| Contact Message START |=~~~ -->
<section class="contact_message_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- ~~~=| form START |=~~~ -->
                <div class="contact-page-form">
                    <h2>BİZE MESAJ GÖNDERİN!</h2>
                    <div class="comments_form">
                        <form action="contact.html" method="post">
                            <div class="contact_cc_name">
                                <input type="text" name="name" placeholder="ADINIZ *" required />
                                <input type="text" name="email" placeholder="SOYADINIZ *" required />
                                <input type="text" name="phone" placeholder="TELEFON NUMARASI" required />
                            </div>
                            <textarea name="message" cols="30" rows="10" placeholder="MESAJ"></textarea>
                            <input name="submit" type="submit" value="MESAJI GÖNDER" />
                        </form>
                    </div>
                </div>
                <!-- ~~~=| form END |=~~~ -->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact_address">
                    <h2>BİZİ ZİYARET EDİN!</h2>
                    <p>BİZİM TEMAMIZ ŞÖYLE GÜZEL BÖYLE GÜZEL.</p>
                    <div class="visit_us_contact">
                        <ul>
                            <li>
                                <a href="">
                                    <div class="visit_img"><img src="/Content/images/map_ico.png" alt="map ico" /></div><div class="visit_text">
                                        KEMALPAŞA MAHALLESİ, SERDİVAN, SAKARYA,
                                        <br>TÜRKİYE
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="visit_img"><img src="/Content/images/ph_ico.png" alt="map ico" /></div><div class="visit_text">Telephone : +90 264 123 54657</div>
                                </a>
                            </li>
                            <li>
                                <a href="tell:+100012354657">
                                    <div class="visit_img"><img src="/Content/images/msg_ico.png" alt="map ico" /></div><div class="visit_text">E-mail : Info@bilimselyayin.com</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ~~~=| Fashion area END |=~~~ -->
        </div>
    </div>
</section>
<!-- ~~~=| Contact Message END |=~~~ -->


<!-- ~~~=| Maps API |=~~~ -->
<script src="http://maps.googleapis.com/maps/api/js">
</script>
<script>
	var myCenter=new google.maps.LatLng(40.761954, 30.361592);
	var marker;

	function initialize()
	{
	var mapProp = {
	  center:myCenter,
	  zoom:7,
	  mapTypeId:google.maps.MapTypeId.ROADMAP
	  };

	var map=new google.maps.Map(document.getElementById("googleMapHas"),mapProp);

	var marker=new google.maps.Marker({
	  position:myCenter,
	  animation:google.maps.Animation.BOUNCE
	  });

	marker.setMap(map);
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>
