﻿@model BilimselYayin.Models.HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- ~~~=| Main Wrapper END |=~~~ -->
<section class="main_news_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">





                <div class="follow_us_side">

                    <div class="all_news_right">
                        <br />
                        <h2>@Resources.Home.Lastest</h2>
                        <div class="fs_news_right last_right">

                            <div class="single_fs_news_img">
                                <img alt="Single News" src="/Content/images/side3.jpg">
                            </div>
                            <div class="single_fs_news_right_text">
                                <h4><a href="/tr/Home/Detay/6">Yavşan Otunun Faydaları Nelerdir?</a></h4>

                            </div>
                        </div>
                        <div class="fs_news_right last_right">
                            <div class="single_fs_news_img">
                                <img alt="Single News" src="/Content/images/side4.jpg">
                            </div>
                            <div class="single_fs_news_right_text">
                                <h4><a href="/tr/Home/Detay/7">Deniz Suyunun Faydaları</a></h4>

                            </div>
                        </div>
                        <div class="fs_news_right last_right">
                            <div class="single_fs_news_img">
                                <img alt="Single News" src="/Content/images/side5.jpg">
                            </div>
                            <div class="single_fs_news_right_text">
                                <h4><a href="/tr/Home/Detay/10">Boya Koruma Nedir? Boya Koruma Ne Değildir?</a></h4>

                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                    @{Html.RenderAction("_Slider", "Home");}  


                </div>
            </div>

        </div>
    </div>
</section>
<!-- ~~~=| Main Wrapper END |=~~~ -->
<!-- ~~~=| Banner START |=~~~ -->
<section class="hp_banner_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="hp_banner_box">
                    <div class="hp_banner_left">
                        <div class="bl_single_news">
                            <img src="/Content/images/blt-banner1.jpg" alt="" />
                            <div class="bl_single_text">
                                <a href="blog-single-slider-post.html">
                                    <h4>20 Myths About Mobile Devices</h4>
                                </a>
                            </div>
                        </div>
                        <div class="bl_single_news">
                            <img src="/Content/images/blt-banner2.jpg" alt="" />
                            <div class="bl_single_text">
                                <a href="blog-single-slider-post.html">
                                    <h4>What Do Need To Make a Business ?</h4>
                                </a> <span><i class="fa fa-clock-o"></i> 4 hours ago</span>
                            </div>
                        </div>
                        <div class="bl_single_news">
                            <img src="/Content/images/bann2.jpg" alt="" />
                            <div class="bl_single_text">
                                <a href="blog-single-slider-post.html">
                                    <h4>The Ultimate Cheat Sheet On Ecology</h4>
                                </a> <span><i class="fa fa-clock-o"></i> 5 hours ago</span>
                            </div>
                        </div>
                    </div>
                    <div class="hp_banner_right">
                        <div class="br_single_news">
                            <img src="/Content/images/brt-banner1.jpg" alt="" />
                            <div class="br_single_text">
                                <span class="green_hp_span">Kimya</span> <a href="blog-single-slider-post.html">
                                    <h4>The Ultimate Cheat Sheet On Ecology</h4>
                                </a>
                            </div>
                            <div class="br_cam"> <a href="" class="fa fa-camera"></a> </div>
                        </div>
                        <div class="br_single_news">
                            <img src="/Content/images/brt-banner2.jpg" alt="" />
                            <div class="br_single_text">
                                <span class="blue_hp_span">Bilgisayar</span> <a href="blog-single-slider-post.html">
                                    <h4>Notes from a vacation photographer</h4>
                                </a>
                            </div>
                            <div class="br_cam"> <a href="" class="fa fa-camera"></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ~~~=| Banner END |=~~~ -->
