﻿@model BilimselYayin.Models.HomeModel

@{
    ViewBag.Title = "Makale";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">

            @using (Html.BeginForm()) {
            <h4>Ara</h4>

            <div class="input-group">
                <input type="text" class="form-control" id="arama" name="arama" placeholder="Ara" >
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
            }

            <div id="demo" class="collapse in">
                <hr>
                <div class="list-group list-group">
                    <h4 class="">Kategori</h4>
                    @foreach (var item in Model.MakaleTur)
                {
                        <a href="#" class="list-group-item"> @item.TurAdi</a>
                    }
                </div>
            </div>



            <div class="hidden-sm hidden-xs">

                <hr>

            </div>

        </div>
        <div class="col-md-9">


            <div class="well hidden-xs">

                <div class="row">

                    <span class="col-xs-3">


                        <select class="form-control">
                            <option>Featured</option>
                            <option>Recently Added</option>
                            <option>Next Upcoming Session</option>
                            <option>A-Z</option>
                            <option>Z-A</option>
                        </select>
                    </span>

                </div>
            </div>

            <hr>

            <div class="row">


                @foreach (var item in Model.Makale)
                {
                    <div class="col-sm-4">
                        <a href="@Url.Action("Detay","Home", new {id=item.MakaleID })" class=""><img src="/Content/images/paper_pen.jpg" class="img-responsive"></a>
                    </div>
                        <div class="col-sm-8">
                            <h3 class="title">@item.MAdi</h3>
                            <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> @item.YayimTarihi.ToShortDateString()</p> @*yalnızca tarih alanı görüntülemek için*@
                             <p>@MvcHtmlString.Create(item.MIcerik.Substring(0, 200))...</p> @*Makale verisinin özetini çekmek için kullandık*@

                            <p class="text-muted">Yazar : <a href="#">@item.Yazar.YAdi</a></p>
                            <br />
                            <hr>
                        </div>

                }


            </div>

        </div>
    </div>
</div>
