﻿@model BilimselYayin.Models.Makale

@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sil</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Makale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YayimTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YayimTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakaleTuru.TurAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakaleTuru.TurAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yazar.YAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yazar.YAdi)
        </dd>

    </dl>

    @using (Html.BeginForm("SilOnay","Home",FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m =>m.MakaleID)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
