﻿@model BilimselYayin.Models.HomeModel
@{
    ViewBag.Title = "Yazar";
}

<section class="main_news_wrapper">
    <div class="container">
        <div class="row">
            <div class="bs-example" data-example-id="simple-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Yazar Adı</th>
                            <th>Yazar Soyadı</th>
                            <th><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Yazar İletişim</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Yazar)
                        {
                            <tr>
                                <td>@item.YAdi</td>
                                <td>@item.YSoyad.ToUpper()</td>
                                <td>@item.Mail</td>
                                <td><button type="button" class="btn btn-danger">Tüm Makaleleri</button> </td>
                            </tr>


                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
