﻿<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6">    <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7">    <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8">    <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mİ | Bilimsel Yayın Veritabanı HTML5 Anasayfa</title>

    <!-- ~~~=| Fonts files |==-->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900,700italic,400italic,300italic,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,700,700italic,900' rel='stylesheet' type='text/css'>

    <!-- ~~~=| Font awesome |==-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <!-- ~~~=| Bootstrap css |==-->
    <link rel="stylesheet" href="/Content/css/bootstrap.css">

    <!-- ~~~=| Theme files |==-->
    <link rel="stylesheet" href="/Content/style.css">
    <link rel="stylesheet" href="/Content/css/responsive.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="/Content/images/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" type="image/ico" href="/Content/images/favicon.ico" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- Done by Shakhawat H. from codingcouples.com // -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>

    <!-- ~~~=| Header START |=~~~ -->
    <header class="header_area">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="header_top_left">
                            <div class="news_twiks">
                                <h4>Mİ</h4>
                            </div>
                            <div class="news_twiks_items">
                                <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <p>@Resources.Home.Turkey</p>
                                        </div>
                                        <div class="item">
                                            <p>BİLİMSELYAYİN.COM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="header_top_right">
                            <div class="social_header">
                                <ul>
                                    <li>@Html.ActionLink("tr", "Index", new { lang = "tr" })</li>
                                    <li>@Html.ActionLink("en", "Index", new { lang = "en" })</li>
                                    <li><a class="fa fa-facebook" href="https://www.facebook.com/byMco"></a></li>
                                    <li><a class="fa fa-twitter" href=""></a></li>
                                    <li><a class="fa fa-google-plus" href=""></a></li>
                                    <li><a class="fa fa-linkedin" href=""></a></li>

                                    <li><a class="fa fa-behance" href=""></a></li>

                                </ul>
                            </div>
                            <div class="header_search_box">
                                <form class="header_search hidden-xs" action="index.html">
                                    <input type="text" placeholder="MAKALE ARA">
                                    <input type="submit" value="">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- ~~~=| Logo Area START |=~~~ -->
        <div class="header_logo_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <div class="logo"> <a href="@Url.Action("Index","Home")"><img src="/Content/images/logo.png" alt="Site Logo" /></a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ~~~=| Logo Area END |=~~~ -->
        <!-- ~~~=| Main Navigation START |=~~~ -->
        <div class="mainnav">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <nav class="main_nav_box">
                            <ul id="nav">
                                <center>
                                    <li class="nav_news">
                                        <a href="@Url.Action("Index","Home")">@Resources.Home.Anasayfa</a>
                                    </li>
                                    <li class="nav_lifeguide">
                                        <a href="@Url.Action("Makale","Home")">@Resources.Home.Makale </a>
                                        <div class="sub_menu sub_menu_p single_mega">
                                            <ul>
                                                <li><a href="#"><span>@Resources.Home.BİLİŞİM</span></a></li>
                                                <li><a href="#"><span>@Resources.Home.MATEMATİK</span></a></li>
                                                <li><a href="#"><span>@Resources.Home.EDEBİYAT</span></a></li>
                                                <li><a href="#"><span>@Resources.Home.FEN_BİLİMLERİ</span></a></li>
                                                <li><a href="#"><span>@Resources.Home.SİYASAL_BİLİMLER</span></a></li>
                                                <li><a href="#"><span>@Resources.Home.TIP</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav_gadgets"><a href="@Url.Action("Yazar","Home")">@Resources.Home.Yazarlar</a></li>
                                    <li class="nav_features"><a href="@Url.Action("iletisim","Home")">@Resources.Home.İletişim</a></li>
                                    <li class="nav_fashion">
                                        <a href="#">@Resources.Home.Uye</a>
                                        <div class="sub_menu sub_menu_p single_mega">
                                            <ul>
                                                <li><a href="@Url.Action("Login","Account")">@Resources.Home.Giriş</a></li>
                                                <li><a href="@Url.Action("Register","Account")">@Resources.Home.Kaydol</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    
                                </center>
                            </ul>
                        </nav>

                        <!-- ~~~=| Mobile Navigation END |=~~~ -->
                        <div class="only-for-mobile">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ul class="ofm">
                                    <li class="m_nav"><i class="fa fa-bars"></i> Menu</li>
                                </ul>

                                <!-- MOBILE MENU -->
                                <div class="mobi-menu">
                                    <div id='cssmenu'>
                                        <ul>
                                            <li>
                                                <a href='index'><span>Anasayfa</span></a>
                                            </li>
                                            <li class='has-sub'>
                                                <a href='#'><span>MAKALE</span></a>
                                                <ul class="sub-nav">
                                                    <li><a href="#"><span>@Resources.Home.BİLİŞİM</span></a></li>
                                                    <li><a href="#"><span>@Resources.Home.MATEMATİK</span></a></li>
                                                    <li><a href="#"><span>@Resources.Home.EDEBİYAT</span></a></li>
                                                    <li><a href="#"><span>@Resources.Home.FEN_BİLİMLERİ</span></a></li>
                                                    <li><a href="#"><span>@Resources.Home.SİYASAL_BİLİMLER</span></a></li>
                                                    <li><a href="#"><span>@Resources.Home.TIP</span></a></li>
                                                </ul>
                                            </li>
                                            <li> <a href='#'><span>YAZARLAR</span></a> </li>
                                            <li> <a href='#'><span>İLETİŞİM</span></a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ~~~=| Mobile Navigation START |=~~~ -->

                    </div>
                </div>
            </div>
        </div>
        <!-- ~~~=| Main Navigation END |=~~~ -->

    </header>
    <!-- ~~~=| Header END |=~~~ -->

    @*<div class="col-md-3">
        <div id="demo" class="collapse in">
            <hr>
            <div class="list-group list-group">
                <h4 class="">Kategori</h4>
                @foreach (var item in Model.MakaleTur)
            {
                    <a href="#" class="list-group-item"><span class="badge">14</span> @item.TurAdi <span class="label label-primary">New</span></a>
                }


                <div id="categories" class="collapse">

                    <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
                    <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
                    <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>
                    <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
                    <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
                </div>


                <button class="btn btn-default btn-sm btn-block" data-toggle="collapse" data-target="#categories">Daha Fazla<span class="caret"></span></button>


            </div>
        </div>
    </div>*@
    @RenderBody()
    <!-- ~~~=| Footer START |=~~~ -->
    <footer class="footer_area">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer_top_left">
                            <img src="/Content/images/footer_logo.png" alt="Footer Logo" />
                            <br><p>@Resources.Home.Turkey</p>
                            <div class="footer_top_box">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="ft_contact">
                                            <h4>@Resources.Home.İletişim</h4>
                                            <address>
                                                <p> <i class="fa fa-map-marker"></i>Serdivan, SAKARYA , TURKEY</p>
                                                <a href="tel:+100012354657"><i class="fa fa-phone"></i>TELEFON : +90 264 123 54657</a><br>
                                                <a href="mail-to:Info@News.com"><i class="fa fa-phone"></i> E-mail : Info@bilimselyayin.com</a>
                                            </address>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="ftm_newsletter">
                                            <h4>@Resources.Home.Haber</h4>
                                            <p>@Resources.Home.Haberi</p>
                                            <form>
                                                <input type="text" value="Eposta adresi" />
                                                <input type="submit" class="fm_newsletter" />
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="ft_connected">
                                            <h4>@Resources.Home.İletişimS</h4>
                                            <p>@Resources.Home.İletişimSi</p>
                                            <ul>
                                                <li><a class="fa fa-facebook" href=""></a></li>
                                                <li><a class="fa fa-twitter" href=""></a></li>
                                                <li><a class="fa fa-google-plus" href=""></a></li>
                                                <li><a class="fa fa-linkedin" href=""></a></li>
                                                <li><a class="fa fa-tumblr" href=""></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer_bottom_box">
                            <p> &copy; 2015 Her Hakkı Saklıdır. </p>
                            <p>Mücahit ÇELİK & İbrahim ARSLAN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ~~~=| Footer END |=~~~ -->
    <!-- ~~~=| Latest jQuery |=~~~ -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- ~~~=| Bootstrap jQuery |=~~~ -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/main.js"></script>
</body>
</html>
